body {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #fff;
  height: 100vh; /* 100% viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
  width: 240px;
  padding: 30px;
}

h1 {
  text-align: center;
  margin-top: 8px;
  color: black;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 8px;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid black;
  box-sizing: border-box; 
}

input:hover {
  border: 2px solid #0099fe;
}

.name {
  display: flex;
  gap: 8px; 
}

.name input {
  flex: 1; 
}

button {
  background-color: #0099fe;
  color: #fff;
  border-radius: 8px;
  padding: 5px;
  border: 1px black solid;
  cursor: pointer;
}
